<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
  RewriteRule .* - [F]

  RewriteCond %{QUERY_STRING} _escaped_fragment_=(.*)
  RewriteRule ^index.php index.php?controller=pjFrontPublic&action=pjActionRouter&_escaped_fragment_=%1 [L,NC]
  RewriteRule ^([a-f0-9]{40})/?$ index.php?controller=pjAdmin&action=pjActionContact&hash=$1 [L,NC,QSA]
</IfModule>

Options -Indexes
ServerSignature Off

<IfModule mod_headers.c>
  Header unset X-Powered-By
</IfModule>

<IfModule php5_module>
  php_value session.cookie_httponly true
</IfModule>

<FilesMatch "\.(ttf|otf|woff|woff2|eot)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>