@CHARSET "UTF-8";
@import url(reset.css);
@import url(lib.css);
html, body{
	background: #f6f4f5 url(../img/backend/body.png) 0 0 repeat-x;
	color: #595a5c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	height: 100%;
	min-width: 1040px;
}
a:link, a:visited, a:active, a:hover{
	color: #63A8C9;
	outline: none;
}
#processing {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background-color:#E5E5E5;
	color:#000000;
	display:none;
	font-weight:bold;
	left:50%;
	padding:5px 8px;
	position:absolute;
	top:20px;
	width:auto;
	z-index:9999;
}
#container{
	min-height: 100%;
	width: 100%;	
}
#header{
	height: 118px;
	position: relative;
	margin: 0 auto;
	width: 1040px;
}
#logo{
	background: url(../img/backend/logo.png) 0 0 no-repeat;
	display: block;
	width: 552px;
	margin: 0 auto;
	height: 118px;
	line-height: 124px;
	font-size: 30px;
	font-weight: 900;
	text-shadow: rgb(224, 224, 224) 1px 1px 0px;
}
#logo a{
	display: block;
	float: left;
	width: 450px;
	text-decoration: none;
	color: #054d87;
	text-align: center;
	margin-left: 22px;
}
#logo span{
	display: block;
	float: right;
	color: #0882b3;
	font-size: 24px;
	font-weight: bold;
	width: 80px;
	text-indent: 10px;
}
#middle{
	padding: 25px 0 60px;
	margin: 0 auto;
	width: 1040px;
}
#leftmenu{
	width: 1040px;	
}
#right{
	width: 1040px;
}
#footer-wrap{
	background: #f6f5f5 url(../img/backend/footer.png) 0 0 repeat-x;
	height: 40px;
	margin-top: -40px;
	width: 100%;
}
#footer{
	height: 40px;
	margin: 0 auto;
	position: relative;
	width: 1040px;
}
#footer p{
	position: absolute;
	top: 15px;
	right: 0;
}
.content-top{
	display: none;
}
.content-middle{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 5px #ccc;
	-webkit-box-shadow: 0 0 5px #ccc;
	box-shadow: 0 0 5px #ccc;
	border: solid 1px #c9c9c9;
	background: #fff;
	padding: 20px;
}
.content-bottom{
	display: none;
}
.leftmenu-top{
	display: none;
}
.leftmenu-middle{
	overflow: hidden;
}
.leftmenu-bottom{
	display: none;
}
/* Login */
#login-content{
	margin: 80px auto 0;
	min-height: 220px;
	height: auto !important;
	height: 220px;
	width: 560px;
}
#login-content h3{
	color: #6f8a9f;
	font-weight: bold;
	font-size: 1.4em;
	margin: 0 0 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.login-box{
	width: 517px;
	height: 197px;
	background: url(../img/backend/login.png) 0 0 no-repeat;
	overflow: hidden;
	padding: 20px;
}
/* Buttons */
.button{
	border: none;
	cursor: pointer;
	height: 30px;
	width: 97px;	
}
.button_login{background: url(../img/backend/btn_login.png) 0 0 no-repeat;}
.button_save{background: url(../img/backend/btn_save.png) 0 0 no-repeat;}
.button_search{background: url(../img/backend/btn_search.png) 0 0 no-repeat;}
.button_report{background: url(../img/backend/btn_report.png) 0 0 no-repeat;}
.button_send{background: url(../img/backend/btn_send.png) 0 0 no-repeat;}
.button_delete{background: url(../img/backend/btn_delete.png) 0 0 no-repeat;}
.button_hover{background-position: 0 -30px;}
/* Form controls */
.text,
.select,
.textarea{
	background-color: #fff;
	border: solid 1px #a0bad1;
	box-shadow: inset 2px 2px 1px #e8e8e8;
	border-radius: 3px;
	-moz-box-shadow: inset 2px 2px 1px #e8e8e8;	
	-moz-border-radius: 3px;
	-webkit-box-shadow: inset 2px 2px 1px #e8e8e8;
	-webkit-border-radius: 3px;
	padding: 5px 3px;
}
.text{
	height: 20px;
}
.form{}
.form p,
.p{
	overflow: hidden;
	margin: 0 0 10px;
}
.pj-form p,
.pj-form .p{
	margin: 0 0 10px !important;
	padding: 0 !important;
}
.form .title{
	display: block;
	float: left;
	padding: 6px 0 0;
	width: 150px;
}
label.error{
	color: red;
	display: block;
	/*padding: 5px 0 0 150px;*/
	font-size: 12px;
	text-indent: 150px;
}
label.err{
	background-color: #FFB4B4;
	border: solid 1px #990000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	color: #660000;
	display: block;
	width: auto;
	padding: 5px;
	margin: 0;
}
em label.error,
em label.err{
	display: inline-block !important;
}
em{
	display: block;
	padding: 3px 0 2px 0;
	margin: 0 0 5px 150px;
}
.tblError em{
	margin-left: 0;
}
.pj-form-field-custom label.error{
	text-indent: 0;
}
span.left{
	display: block;
	margin: 6px 0 0;
}
.form h3{
	color: #185181;
	font-size: 1.1em;
	font-weight: bold;
	padding: 10px;
	text-transform: uppercase;
}
/* Menu */
.menu{
	list-style: none;
	margin: 9px auto;
	overflow: hidden;
}
.menu li{
	margin: 0 3px;
	float: left;
}
.menu li a:link, .menu li a:visited{
	background: #eeeeee;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZGUxZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #eeeeee 0%, #dde1e4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#dde1e4));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#dde1e4 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#dde1e4 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#dde1e4 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#dde1e4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#dde1e4',GradientType=0 );
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: solid 1px #E0E0E0;
	color: #989393;		
	display: block;
	font-size: 1.2em;
	font-weight: bold;
	height: 80px;
	padding: 10px 0 0;
	width: 109px;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 1px #fff;
}
.menu li a:hover,
.menu li a.menu-focus{
	background: #fff;
	color: #242625;
	text-decoration: none;
}
.menu a span{
	display: block;
	height: 30px;
	margin: 0 auto 7px;
	width: 30px;
}
.menu-dashboard{background: url(../img/backend/menu-dashboard.png) 0 -30px no-repeat}
.menu-bookings{background: url(../img/backend/menu-bookings.png) 0 -30px no-repeat}
.menu-rooms{background: url(../img/backend/menu-rooms.png) 0 -30px no-repeat}
.menu-options{background: url(../img/backend/menu-options.png) 0 -30px no-repeat}
.menu-users{background: url(../img/backend/menu-users.png) 0 -30px no-repeat}
.menu-preview{background: url(../img/backend/menu-preview.png) 0 -30px no-repeat}
.menu-reports{background: url(../img/backend/menu-reports.png) 0 -30px no-repeat}
.menu-install{background: url(../img/backend/menu-install.png) 0 -30px no-repeat}
.menu-logout{background: url(../img/backend/menu-logout.png) 0 -30px no-repeat}
.menu-focus .menu-dashboard, .menu a:hover .menu-dashboard,
.menu-focus .menu-rooms, .menu a:hover .menu-rooms,
.menu-focus .menu-bookings, .menu a:hover .menu-bookings,
.menu-focus .menu-options, .menu a:hover .menu-options,
.menu-focus .menu-users, .menu a:hover .menu-users,
.menu-focus .menu-preview, .menu a:hover .menu-preview,
.menu-focus .menu-reports, .menu a:hover .menu-reports,
.menu-focus .menu-install, .menu a:hover .menu-install,
.menu-focus .menu-logout, .menu a:hover .menu-logout{
	background-position: 0 0;
}
/* table */
.table{
	border-collapse: separate;
	border-top: solid 1px #e5e2e2;
	border-left: solid 1px #e5e2e2;
	border-bottom: solid 1px #e5e2e2;
	empty-cells: show;
	width: 100%;
}
.table th{
	background-color: #fff;
	border-bottom: solid 1px #e5e2e2;
	border-right: solid 1px #e5e2e2;
	color: #027ac6;
	font-weight: bold;
	font-size: 1.2em;
	height: 35px;
	line-height: 35px;
	padding: 0 0 0 10px;
}
.table th.nosub{
	border-bottom: solid 1px #fff;
}
.table th.sub{
	background-color: #f7f7f7;
	border-right: solid 1px #e5e2e2;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
	border-top: solid 1px #fff;
	color: #000;
	font-size: 1em;
	height: 30px;
	line-height: 30px;
	padding: 0px 10px;
	white-space: nowrap;
}
.table th.sort{
	overflow: hidden;
	padding: 0;
	width: 16px;
}
.table th.sort div{
	height: 35px;
	line-height: normal;
	overflow: hidden;
	width: 16px;
}
.table a:link, .table a:visited{
	color: #007AC3; /*808080;*/
	text-decoration: none;
}
.table a:hover{
	text-decoration: underline;
}
.sort a{
	display: block;
	height: 16px;
	overflow: hidden;
	width: 16px;
}
.sort a.up:link, .sort a.up:visited, .sort a.up:hover{ background: url(../img/backend/icons/bullet_arrow_up.png) 0 0 no-repeat; }
.sort a.down:link, .sort a.down:visited, .sort a.down:hover{ background: url(../img/backend/icons/bullet_arrow_down.png) 0 0 no-repeat; }
.table tbody tr.odd{
	background-color: #fff;
}
.table tbody tr.even{
	background-color: #F7F7F7;
}
.table tbody tr.highlight{
	background-color: #FFFFCC;
}
.table tbody tr.hover{
	background-color: #F7F7F7;
}
.table a.icon:link, .table a.icon:visited{
	color: #757777;
	display: block;
	height: 16px;
	line-height: 16px;
	text-indent: 20px;
	text-decoration: none;
}
.table a.icon-edit{
	background: url(../img/backend/icon-edit.png) 0 0 no-repeat;
}
.table a.icon-delete,
.table a.icon-del{
	background: url(../img/backend/icon-delete.png) 0 0 no-repeat;
}
.table td{
	border-right: solid 1px #e5e2e2;
	border-top: solid 1px #e5e2e2;
	border-left: solid 1px #fff;
	border-bottom: solid 1px #fff;
	padding: 5px 7px;
}
.table span.ghost{
	display: block;
	width: 24px;
	height: 24px;
}
/* jqueryui fix */
.ui-widget {
    font-family: inherit;
    font-size: inherit;
}
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: inherit;
    font-size: inherit;
}
img.ui-datepicker-trigger {
    cursor: pointer;
}
.ui-tabs .ui-tabs-panel {
	padding: 10px 0;
	overflow: hidden;
}
#content div.ui-tabs{
	padding: 0;
}
#content div.ui-widget-content{
	background: none;
	border: none;
}
.ui-tabs .ui-tabs-nav li a{
	padding: .5em 10px;
	float: left;
}
/* Errors */
.notice-box{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: inset 0 0 2px #fff;
	background: #E9F5FA;
	border: solid 1px #A9E4FC;
	margin: 0 0 10px 0;
	overflow: hidden;
	padding: 10px;
	position: relative;
}
.notice-box .notice-top,
.notice-box .notice-bottom{
	display: none;
}
.notice-box .notice-close{
	display: inline-block;
	width: 16px;
	height: 16px;
	position: absolute;
	top: 4px;
	right: 4px;
	background: url(../img/backend/closeGray.png) 0 0 no-repeat;
}
.notice-box .notice-info{
	background: url(../img/backend/icon-info.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 32px;
	margin: 0 10px 0 0;
	width: 32px;	
}
.notice-box .notice-success{
	background: url(../img/backend/icon-success.png) 0 0 no-repeat;
	display: block;
	float: left;
	height: 32px;
	margin: 0 10px 0 0;
	width: 32px;	
}
.notice-box.notice-fancy{
	margin: 0;
	padding: 0;
	border: none;
	background: none;
	opacity: 0;
	height: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-webkit-animation: fadeOut 5s linear;
	-moz-animation: fadeOut 5s linear;
	-o-animation: fadeOut 5s linear;
	-ms-animation: fadeOut 5s linear;
	animation: fadeOut 5s linear;
}
.notice-box.notice-fancy .notice-middle{
	background: #EBF5D2;
	border: solid 1px #CBE199;
	margin: 0 0 10px;
	overflow: hidden;
	padding: 10px;
	position: relative;
}
.notice-box.notice-fancy .notice-content{
	padding: 0 0 0 45px;
}
.notice-box.notice-fancy .notice-title{
	font-weight: bold;
	margin: 0 0 5px;
}
.notice-box.notice-fancy .notice-body{
	line-height: 16px;
}
.notice-box.notice-fancy .notice-progress-wrap{
	height: 5px;
	background: rgba(0,80,120,0.5);
	border-radius: 3px;
	margin: 7px 0 0;
	position: relative;
}
.notice-box.notice-fancy .notice-progress{
	width: 0;
	height: 4px;
	background: rgba(255,255,255,0.3);
	position: absolute;
	left: 0;
	border-radius: 3px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.05), 0 -1px 0 rgba(255,255,255,0.6);
		
	-webkit-animation: runProgress 4s linear forwards 0.5s;
	-moz-animation: runProgress 4s linear forwards 0.5s;
	-o-animation: runProgress 4s linear forwards 0.5s;
	-ms-animation: runProgress 4s linear forwards 0.5s;
	animation: runProgress 4s linear forwards 0.5s;
}
@-webkit-keyframes fadeOut {
	0% { opacity: 0; }
	1% { opacity: 1; height: 90px; }
	90% { opacity: 1; -webkit-transform: translateY(0px); }
	99% { height: 90px; opacity: 0; -webkit-transform: translateY(-30px); }
	100% { opacity: 0; height: 0; }
}
@-moz-keyframes fadeOut {
	0% { opacity: 0;  }
	1% { opacity: 1; height: 90px; }
	90% { opacity: 1; -moz-transform: translateY(0px); }
	99% { height: 90px; opacity: 0; -moz-transform: translateY(-30px); }
	100% { opacity: 0; height: 0; }
}
@-o-keyframes fadeOut {
	0% { opacity: 0;  }
	1% { opacity: 1; height: 90px; }
	90% { opacity: 1; -o-transform: translateY(0px); }
	99% { height: 90px; opacity: 0; -o-transform: translateY(-30px); }
	100% { opacity: 0; height: 0; }
}
@-ms-keyframes fadeOut {
	0% { opacity: 0;  }
	1% { opacity: 1; height: 90px; }
	90% { opacity: 1; -ms-transform: translateY(0px); }
	99% { height: 90px; opacity: 0; -ms-transform: translateY(-30px); }
	100% { opacity: 0; height: 0; }
}
@keyframes fadeOut {
	0% { opacity: 0; }
	1% { opacity: 1; height: 90px; }
	90% { opacity: 1; transform: translateY(0px); }
	99% { height: 90px; opacity: 0; transform: translateY(-30px); }
	100% { opacity: 0; height: 0; }
}
@-webkit-keyframes runProgress {
	0%{ width: 0%; background: rgba(120,213,250,1); }
	100%{ width: 100%; background: rgba(95,205,249,1); }
}
@-moz-keyframes runProgress {
	0%{ width: 0%; background: rgba(120,213,250,1); }
	100%{ width: 100%; background: rgba(95,205,249,1); }
}
@-o-keyframes runProgress {
	0%{ width: 0%; background: rgba(120,213,250,1); }
	100%{ width: 100%; background: rgba(95,205,249,1); }
}
@-ms-keyframes runProgress {
	0%{ width: 0%; background: rgba(120,213,250,1); }
	100%{ width: 100%; background: rgba(95,205,249,1); }
}
@keyframes runProgress {
	0%{ width: 0%; background: rgba(120,213,250,1); }
	100%{ width: 100%; background: rgba(95,205,249,1); }
}

/* status */
.label-status{
	padding: 2px 4px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}
.user-role-admin{background-color: #6EB738; color: #fff; text-shadow: 1px 1px 1px #3E6820;}
.user-role-owner{background-color: #006699; color: #fff; text-shadow: 1px 1px 1px #092B90;}
.user-role-editor{background-color: #CC6633; color: #fff; text-shadow: 1px 1px 1px #996600;}
.order-status-pending{background-color: #FF9900; color: #000; text-shadow: 1px 1px 1px #fff;}
.order-status-confirmed{background-color: #2A8000; color: #fff; text-shadow: 1px 1px 1px #999;}
.order-status-cancelled{background-color: #B3B3B3; color: #fff; text-shadow: 1px 1px 1px #333;}
.is_featured-1{background-color: #FF9900; color: #000; text-shadow: 1px 1px 1px #fff;}
.is_featured-0{background-color: #B3B3B3; color: #fff; text-shadow: 1px 1px 1px #333;}
.pj-status-not_confirmed{background: #fff url(../img/backend/pj-not-confirmed.png) 85px 3px no-repeat;}

.booking-icon{
	text-indent: 27px;
	display: block;
	line-height: 20px;
}
/* paginator */
.paginator{
	overflow: hidden;
	margin: 10px 0 0 0;
}
.paginator li{
	display: inline-block;
}
.paginator li a:link, .paginator li a:visited{
	background-color: #CCCCCC;
	color: #000;
	display: block;
	float: left;
	margin: 0 2px 0 0;
	padding: 1px 4px;
	border-radius: 2px;
	text-decoration: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
}
.paginator li a:hover{
	background-color: #EAEAEA;
}
.paginator li a.focus{
	background-color: #072B4F;
	color: #fff;
}
/* fieldset */
.fieldset{
	margin: 0 0 10px;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.fieldset legend{
	background-color: #003366;
	color: #fff;
	padding: 2px 5px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	width: 250px;
}
/* Colors */
.white{background-color: #fff; border: solid 1px #ccc; color: #000 !important}
.sky{background-color: #EAFBFB; border: solid 1px #ccc;}
.light{background-color: #f5f5f5; border: solid 1px #ccc;}

.gallery-item{
	background-color: #fdfdfd;
	float: left;
	width: 100px;
	height: 140px;
	margin: 0 5px 5px 0;
	text-align: center;
}
.gallery-image{
	cursor: move;
	margin: 0 !important;
}
.gallery-image a.image{
	cursor: move;
}
.gallery-image img{
	border: solid 1px #ccc;
	padding: 1px;
	margin: 7px 0 0 0;
}
#sortable{
	overflow: hidden;
	width: 740px;
}
.stock-image{
	display: block;
	float: left;
	margin: 0 5px 5px 0;
}
.stock-image img,
.in-stock{
	padding: 1px;
	border: solid 1px #ccc;
}
.stock-image img.current{
	border: solid 1px #003399;
}

.ico{
	display: block;
	height: 16px;
	width: 16px;
}
.ico-add2{background: url(../img/backend/icon-add2.png) 0 0 no-repeat;}
.ico-delete2{background: url(../img/backend/icon-delete2.png) 0 0 no-repeat;}

.attr abbr{
	font-weight: bold;
}
.attr, .attr_item{
	float: left;
	margin: 0 5px 0 0;
}
.attr a, .attr input,
.attr_item a, .attr_item input{
	float: left;
}
.attr a, 
.attr_item a{
	margin: 7px 0 0 5px;
}
.attr abbr, 
.attr_item abbr{
	cursor: pointer;
}

.attrBox{
	border-bottom: solid 1px #ccc;
	line-height: 34px;
	overflow: hidden;
	padding: 5px 0;
}
.img-frame{
	border: solid 1px #ccc;
	padding: 1px;
}
.map_holder{
	width: 710px;
	height: 280px;
	padding: 10px;
	border: solid 1px #ccc;
	margin: 0 0 10px;
}
.map_canvas{
	width: 100%;
	height: 100%;
	display: block;
}
.opBox{
	border-bottom: solid 1px #ccc;
	margin: 0 0 10px;
}

/**************dashboard****************/
.dashoard-columns{
	overflow: hidden;
}
.dashoard-columns svg g text[fill="#2d2d2d"] {
	cursor: pointer;
}
.dashboard-column{
	background-color: #fff;
	float: left;
	border: solid 1px #D5D3D4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 15px 0 0;
	padding: 0;
	height: 510px;
}
.dashboard-column:nth-child(0n+1) {
	width: 250px;
}
.dashboard-column:nth-child(0n+2) {
	width: 240px;
}
.dashboard-column:nth-child(0n+3) {
	margin: 0;
	width: 470px;
}
.dashboard-column .dashboard-column-inner{
	max-height: 510px;
	overflow-y: auto;
}
.dashboard-column:nth-child(0n+2) .dashboard-column-inner {
	max-height: 452px;
}
.dashboard-block{
	padding: 10px;
}
.dashboard-block.dashboard-outline{
	border-bottom: solid 1px #D5D3D4;
}
.dashboard-block-odd{
	background-color: #fff;
}
.dashboard-block-even{
	background-color: #F7F7F7;
}
.dashboard-row{
	margin: 0 0 10px;
	overflow: hidden;
}
.dashboard-row:last-child{
	margin: 0;
}
.dashboard-row label{
	color: #444;
	float: left;
	font-size: 14px;
}
.dashboard-row span{
	color: #333;
	float: right;
	font-weight: bold;
	font-size: 14px;
}
.dashboard-h2{
	color: #3F4042;
	font-weight: bold;
	margin: 0 0 10px;
	text-transform: uppercase;
}
label.dashboard-subitem{
	color: #777;
	padding: 0 0 0 15px;
}
.dashboard-booking-row{
	font-size: 13px;
	margin: 0 0 5px;
}
.dashboard-booking-row:last-child{
	margin: 0;
}
.dashboard-booking-label{
	font-weight: bold;
}
.dashboard-na{
	
}
.dashboard-link-calendar,
.dashboard-link-bookings{
	display: inline-block;
	font-size: 13px;
	height: 27px;
	line-height: 27px;
	padding: 0 0 0 35px;
	text-decoration: none;
}
.dashboard-link-calendar{
	background: url(../img/backend/calendar-icon.png) 0 0 no-repeat;
	padding: 0 0 0 39px;
}
.dashboard-link-bookings{
	background: url(../img/backend/dashboard_bookings.png) 0 0 no-repeat;
}
.dashboard-link-calendar:hover,
.dashboard-link-bookings:hover{
	background-position: 0 -27px;
	text-decoration: underline;
}
.dashboard-column .ui-tabs .ui-tabs-nav{
	margin: 3px 3px 0;	
}
.dashboard-chart-loading{
	background: url(../img/backend/pj-preloader.gif) center center no-repeat;
	height: 100%;
	width: 100%;
}
.tipsy-listing{
	width: 420px;
}
.tipsy-listing .tipsy-inner{
	width: 400px;
	text-align: left;
	max-width: 400px;
}
.icon-question{
	display: inline-block;
	height: 12px;
	width: 12px;
	background: url(../img/backend/help.png) center center no-repeat;
}
.cal-container{
	clear: both;
	overflow: hidden;
}
.cal-calendars{
	float: left;
	width: 212px;
}
.cal-dates{
	float: right;
	overflow-y: hidden;
	overflow-x: auto;
	width: 530px;
}
.cal-scroll{
	width: 1330px;/*1990,1355*/
}
.cal-title{
	border-bottom: solid 1px #ccc;
	height: 31px;
	line-height: 31px;
	margin: 0 0 7px 0;
	padding: 0 2px 7px 5px;
	overflow: hidden;
}
.cal-head{
	border-bottom: solid 1px #ccc;
	height: 64px;
	margin: 0 0 7px 0;
	padding: 0 0 7px 0;
	width: 100%;
}
.cal-head-row{
	overflow: hidden;
	margin: 0 0 1px 0;
}
.cal-head-row span,
.cal-head-row a{
	background-color: #EDECEE;
	border: solid 1px #DEE2E5;
	color: #B6B2B1;
	display: block;
	float: left;
	font-weight: bold;
	height: 29px;
	line-height: 29px;
	margin: 0 1px 0 0;
	text-align: center;
	text-decoration: none;
	width: 41px;
}
.cal-program{
	border-bottom: solid 1px #ccc;
	height: 31px;
	margin: 0 0 7px 0;
	padding: 0 0 7px 0;
	width: 100%;
}
.cal-program a:link, .cal-program a:visited, .cal-program a:active, .cal-program span{
	display: block;
	float: left;
	height: 31px;
	line-height: 31px;
	margin: 0 1px 0 0;
	text-align: center;
	text-decoration: none;
	width: 43px;
}
.cal-program a:link, 
.cal-program a:visited, 
.cal-program a:active, 
.cal-program span {
	cursor: pointer;
	background-color: #80b369;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}
.cal-container span {
	cursor: default !important;
}
.cal-container a.cal-full,
.cal-container span.cal-full{
	background-color: #da5350;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}
.cal-container a.cal-partial,
.cal-container span.cal-partial{
	background-color: #f9ce67;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}

.menu-api-support{background: url(../img/backend/menu-api-support.png) 0 -30px no-repeat}
.menu-api-upgrade{background: url(../img/backend/menu-api-upgrade.png) 0 -30px no-repeat}

.menu-focus .menu-api-upgrade, .menu a:hover .menu-api-upgrade,
.menu-focus .menu-api-support, .menu a:hover .menu-api-support,
.menu-focus .menu-api-email, .menu a:hover .menu-api-email{
	background-position: 0 0;
}
.menu-api-email{background: url(../img/backend/menu-api-email.png) 0 -20px no-repeat}
.menu .menu-api-mail a span{
	height: 20px;
	margin: 5px 5px 0 0;
	width: 20px;
}
.number-field{
	margin: 0 5px 5px 0 !important;
}
.tblReport{
	
}
.tblReport td{
	background-color: #eeeeee;
	text-transform: uppercase;
	padding: 5px;
	color: #978e91;
	font-size: 11px;
	font-weight: normal;
}
.tblReport td.title-column{
	background-color: #f6f6f6;
	color: #2c2c2c;
	font-weight: bold;
	font-size: 18px;
	width: 28%;
}
.tblReport td.title-column span{
	font-size: 13px;
}
.tblReport td.title-column span.smaller{
	text-transform: none;
	font-weight: normal;
	font-size: 14px;
}
.tblReport td.title-column span.normal{
	color: #978e91;
    font-size: 11px;
    font-weight: normal;
    width: 100%;
    text-align: center;
    display: block;
}
.tblReport td.content-column{
	background-color: #f6f6f6;
}
.tblReport td.content-column span.normal{
	color: #202020;
    font-size: 13px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    display: block;
}
.tblReport td.content-cell{
	color: #978e91;
	font-size: 11px;
	width: 6%;
	text-align: center;
	color: #202020;
	font-size: 13px;
	font-weight: bold;
}
.tblReport td.split{
	border-right: 1px solid #ffffff; 
}
.tblReport td.empty-row{
	background-color: #ffffff;
	height: 10px;
	padding: 0px !important;
}
.tblReport td.content-cell label{
	display: block;
	height: 46px;
	width: 100%;
	background-color: #ffffff;
}
.tblReport td.content-cell label span{
	line-height: 46px;
	color: #2c2c2c;
	font-weight: bold;
	font-size: 24px;
	display: block;
	float: left;
	margin-left: 14px;
	margin-right: 8px;
}
.tblReport td.content-cell label abbr{
	font-size: 11px;
	font-weight: normal;
	color: #978e91;
	display: block;
	float: left;
	margin-top: 14px;
}
.tblReport td.separator,
.tblReport tr.separator td{
	border-bottom: 1px solid #ffffff !important;
}
.tblReport tr.height_row td{
	padding-top: 12px;
	padding-bottom: 12px;
}
.tblCalendar{
	border-collapse: collapse;
	width: 100%;
}
.tblCalendar td{
	padding: 5px;
}
.tblCalendar tr.hbMonthRow td{
	background-color: #e9eaec;
	height: 40px;
	vertical-align: middle;
	font-weight: bold;
	color: #1d3c51;
	font-size: 15px;
	border: 1px solid #e9eaec;
}
.tblCalendar tr.hbDayRow td{
	background-color: #ffffff;
	height: 34px;
	vertical-align: middle;
	color: #2c2c2c;
	border: 1px solid #e3e1e2;
	font-size: 14px;
}
.tblCalendar tr.hbDayRow td.day{
	text-align: center;
	font-size: 14px;
	text-transform: lowercase;
}
.tblCalendar tr.hbDayRow td.hbDateFocus{
	background-color: #fefbea;
	border: 1px solid #e3daa3;
}
.tblCalendar tr.hbDayRow td.hbCurrentDate{
	font-weight: bold;
	color: #009900;
}
.tblCalendar tr.hbDayRow td.day span{
	font-weight: bold;
	font-size: 15px;
}
.tblCalendar tr.hbRoomRow td{
	background-color: #f6f6f6;
	height: 44px;
	vertical-align: middle;
	color: #2c2c2c;
	font-size: 14px;
	border: 1px solid #e9eaec;
}
.tblCalendar tr.hbRoomRow td span.hbNumber{
	display: block;
	padding: 4px;
	color: #ffffff;
	background-color: #333132;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	float: left;
	margin-right: 5px;
}
.tblCalendar tr.hbRoomRow td span.hbType{
	line-height: 26px;
}
.tblCalendar tr.hbRoomRow td.hbconfirmed{
	color: #ffffff;
	text-align: center;
	vertical-align: top;
	background-color: #7bd780;
	border: 1px solid #5bc16b;
}
.tblCalendar tr.hbRoomRow td.hbpending{
	color: #ffffff;
	text-align: center;
	vertical-align: top;
	background-color: #fbaf57;
	border: 1px solid #f09731;
}
.hbCalendarRestriction{
	cursor: pointer;
}
.tblCalendar tr.hbRoomRow td.hb_unavailable,
.tblCalendar tr.hbRoomRow td.hb_web,
.tblCalendar tr.hbRoomRow td.hb_external{
	color: #fff;
	text-align: center;
	vertical-align: middle;
	background-color: #CC0000;
	border: 1px solid #990000;
}
.tblCalendar tr.hbRoomRow td.hbCalendarTip{
	cursor: pointer;
}
.tblCalendar tr.hbRoomRow td.hbCalendarTip:HOVER{
	color: #000000;
}
.tblCalendar tr.hbInvisibleRow td{
	background-color: #ffffff;
	border: none;
	height: 0px;
	padding: 0px;
}
.hbPrintHeading{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 16px;
}
.hbPrintTitle{
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
	margin-top: 16px;
}
.boxOuter{
	position: relative;
}
.hb-loader{
	display: none;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9999;
	background: url("../../../core/framework/libs/pj/img/pj-preloader.gif") no-repeat scroll center center rgba(153, 153, 153, 0.3);
    left: 0;
    position: absolute;
    top: 0px;
}
.hbCalendarLegend{
	overflow: hidden;
	margin: 10px 0 0;
}
.hbCalendarLegend div{
	float: right;
	margin-left: 20px;
}
.hbCalendarLegend div abbr{
	display: block;
	height: 20px;
	width: 20px;
	float: left;
	margin-right: 8px;
}
.hbCalendarLegend div.pending abbr{
	background-color: #fbaf57;
}
.hbCalendarLegend div.confirmed abbr{
	background-color: #7bd780;
}
.hbCalendarLegend div.unavailable abbr{
	background-color: #CC0000;
}
.hbCalendarLegend div span{
	display: block;
	line-height: 20px;
	float: left;
	font-size: 14px;
}
.printHeading{
	margin-bottom: 20px;
	margin-top: 12px;
}
.printHeading h1{
	font-size: 20px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}
.printHeading p{
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 4px;
}
.pj-table-icon-price,
.pj-table-icon-eye,
.pj-table-icon-first,
.pj-table-icon-prev,
.pj-table-icon-next,
.pj-table-icon-last{
	display: inline-block;
	margin: 0 4px 0 0;
	width: 23px;
	height: 24px;		
}
.pj-table-icon-price{
	background: url(../img/backend/pj-icon-price.png) 0 0 no-repeat;
}
.pj-table-icon-eye{
	background: url(../img/backend/pj-icon-eye.png) 0 0 no-repeat;
}
.pj-table-icon-first{
	background: url(../img/backend/pj-icon-first.png) 0 0 no-repeat;
}
.pj-table-icon-prev{
	background: url(../img/backend/pj-icon-prev.png) 0 0 no-repeat;
}
.pj-table-icon-next{
	background: url(../img/backend/pj-icon-next.png) 0 0 no-repeat;
}
.pj-table-icon-last{
	background: url(../img/backend/pj-icon-last.png) 0 0 no-repeat;
}
.pj-table-icon-price:hover,
.pj-table-icon-eye:hover,
.pj-table-icon-first:hover,
.pj-table-icon-prev:hover,
.pj-table-icon-next:hover,
.pj-table-icon-last:hover{
	background-position: 0 -24px;
}

.preview-themes{
	overflow: hidden;
}
.preview-themes li{
	float: left;
	height: 200px;
	overflow: hidden;
	margin: 0 15px 50px 0;
	text-align: center;
}
.preview-themes li a.preview-thumb{
	border: solid 2px #fff;
	display: inline-block;
	height: 120px;
	width: 180px;
}
.preview-themes li a.preview-thumb:hover{
	border: solid 2px #8D8D8D;
}
.preview-themes li a.preview-thumb.preview-checked{
	position: relative;
	border-color: #ADC87B;
}
.preview-themes li a.preview-thumb.preview-checked i{
	-moz-border-top-right-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	border-top-right-radius: 2px;
	position: absolute;
	left: 0;
	bottom: 0;
	display: inline-block;
	width: 32px;
	height: 32px;
	background: #ADC87B url(../img/backend/icon-check.png) center center no-repeat;
}
.preview-themes li img{
	height: 120px;
	width: 180px;
	vertical-align: middle;
}
.preview-themes li span{
	display: block;
	margin: 5px 0 0;
}
.preview-themes a.pj-button{
	color: #999;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	padding: 0 15px;
}
.preview-themes .preview-current{
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
}
.preview-themes .preview-link{
	font-size: 13px;
	line-height: 28px;
	text-decoration: none;	
}
.preview-themes .preview-link:hover{
	text-decoration: underline;
}
.booking-add{
	width: 100%;
	height: 100%;
	display: inline-block;
}
.booking-add:hover{
	background: url(../img/backend/icon-add.png) center center no-repeat;
}
/* Welcome screen */
.welcome-h1{
	color: #2b2b2b;
	font: bold 30px/26px Arial, sans-serif;
	margin: 40px 0 20px;
	text-align: center;
}
.welcome-text{
	color: #8d8989;
	font: normal 15px/26px Arial, sans-serif;
	margin: 0 0 5px 0;
	text-align: center;
}
.welcome-steps{
	margin: 25px 0 0;
	overflow: hidden;
}
.welcome-step{
	background-color: #f2f5f6;
	border: solid 1px #e0dede;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	margin: 0 24px 24px 0;
	padding: 15px;
	text-align: center;
	width: 316px;
}
.welcome-step:nth-child(3n){
	margin-right: 0;
}
.welcome-step:nth-child(1),
.welcome-step:nth-child(2),
.welcome-step:nth-child(3){
	min-height: 250px;
	height: auto !important;
	height: 250px;
}
.welcome-step:nth-child(4),
.welcome-step:nth-child(5),
.welcome-step:nth-child(6){
	min-height: 250px;
	height: auto !important;
	height: 250px;
}
.welcome-step.welcome-step-done{
	background-color: #fff;
	border: solid 1px #afc873;
	position: relative;
}
.welcome-step-done .welcome-step-check{
	position: absolute;
	top: 0;
	right: 0;
	background: #afc873 url(../img/backend/icon-check.png) center center no-repeat;
	display: inline-block;
	width: 38px;
	height: 38px;
	-moz-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.welcome-step-title{
	font: bold 18px/22px Arial, sans-serif;
	color: #414040;
	margin: 25px 0 0;
}
.welcome-step-desc{
	color: #8d8b8b;
	font: normal 13px/22px Arial, sans-serif;
	margin: 10px 0 0;
}
.welcome-step-row{
	margin: 10px 0 0;
}
.welcome-button,
a.welcome-button:link,
a.welcome-button:visited,
a.welcome-button:active,
a.welcome-button:hover,
a.welcome-button:focus{
	background: #ffffff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f4f4f4 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f4f4f4));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f4f4f4 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f4f4f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
	border: solid 1px #D2D6D7;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #989493;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
	font-size: 14px;
	line-height: 36px;
	padding: 0 30px;
	text-decoration: none;
}
.welcome-button:hover
a.welcome-button:hover{
	background: #f4f4f4;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y0ZjRmNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f4f4f4 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
	background: -o-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
	background: -ms-linear-gradient(top,  #f4f4f4 0%,#ffffff 100%);
	background: linear-gradient(to bottom,  #f4f4f4 0%,#ffffff 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#ffffff',GradientType=0 );
	color: #989493;
	text-decoration: none;
}
a.welcome-skip:link,
a.welcome-skip:visited,
a.welcome-skip:active,
a.welcome-skip:hover,
a.welcome-skip:focus{
	background: url(../img/backend/icon-skip.png) left center no-repeat;
	font: normal 14px/20px Arial, sans-serif;
	padding: 0 0 0 20px;
	text-decoration: none;
}
a.welcome-skip:hover{
	color: #228cd6;
	text-decoration: underline;
}
.welcome-contact{
	border: solid 1px #e0dede;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	font: normal 15px/26px Arial, sans-serif;
	padding: 10px;
	text-align: center;
}
i.t{
	cursor: help;
	display: block;
	float: left;
	width: 16px;
	height: 30px;
	margin: 0 0 0 5px;
}
i.t-note{
	background: url(../img/backend/icon-note.png) center center no-repeat;
}
i.t-warn{
	background: url(../img/backend/icon-warn.png) center center no-repeat;	
}
#hour.pj-form-field,
#minute.pj-form-field{
	height: 30px;
	padding: 0 6px;
	vertical-align: middle;	
}
.link-color{
	color: #63A8C9;
}

.install-method{
	border-top: solid 1px #dedede;
	margin: 15px 0 45px;
}
.install-heading{
	color: #444;
	font-size: 18px;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 15px 0 0;
}
.install-hint{
	font-size: 13px;
	line-height: 16px;
	margin: 15px 0;
}
.install-code{}
.install-segment{
	background-color: #F5F6F8;
	border: solid 1px #E6E7E9;
	margin: 15px 0 30px;
	padding: 20px 15px;
	text-align: center;
}
.install-title{
	color: #444;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 15px;
}
.install-help{
	color: #5699C3;
	font-size: 15px;
	font-weight: bold;
	line-height: 24px;
	margin: 0 0 15px;
	text-transform: uppercase;
}
.install-text{
	font-size: 14px;
	line-height: 22px;
	margin: 0 0 15px;
}
.install-example{
	border: solid 1px #ccc;
	display: inline-block;
	width: 210px;
	height: 158px;
}
.install-example:hover{
	border: solid 1px #999;
}
.install-example img{
	border: none;
	vertical-align: middle;
	width: 208px;
	padding: 1px;
	background: #fff;
}
.textarea_install{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}

.empty-page{
	margin: 35px 0 15px;
	text-align: center;
}
.empty-page .empty-text{
	font-size: 16px;
	line-height: 20px;
	margin: 0 15px 25px;
}
.empty-page .empty-btn{
	margin: 0 15px;
}
.empty-page .empty-btn .pj-button{
	display: inline-block;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	padding: 0 20px;
}